name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    
    - name: Prepare
      run: go mod tidy

    - name: Build and Package
      run: make build && make package
    
    - name: Upload assets
      uses: actions/upload-artifact@v2
      with:
        name: myapp
        path: dist/*.tar.gz
